.card {
    background: white;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,.08);

    width: 220px;

    transition: .3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    color: #6b7280;
    margin-bottom: 15px;
}

.card h2 {
    color: #1f2937;
    font-size: 32px;
}